/.settings
/.project
/amr-client/.gitignore
/amr-client/*.project
/amr-client/.settings/*.prefs
/amr-common/*.gitignore
/amr-controller/*.gitignore
/amr-common/*.project
/amr-common/.settings/*.prefs
/amr-controller/.settings/*.prefs
/test-amr-client/*.classpath
/test-amr-client/*.gitignore
/test-amr-client/*.project
/test-amr-client/.settings/*.prefs
*.gitignore
*.project
*.prefs
*.classpath
